<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Добавить задачу</title>
</head>
<body>
<div layout:fragment="content">
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Добавить новую задачу</h1>

            <form th:action="@{/tasks}" th:object="${task}" method="post">
                <div class="mb-3">
                    <label for="description" class="form-label">Описание задачи:</label>
                    <textarea th:field="*{description}" class="form-control" id="description"
                              rows="4" placeholder="Введите описание задачи..." required></textarea>
                    <div class="form-text">Максимальная длина описания - 1000 символов</div>
                </div>

                <div class="mb-3 form-check">
                    <input th:field="*{done}" type="checkbox" class="form-check-input" id="done">
                    <label class="form-check-label" for="done">Задача выполнена</label>
                </div>
                <div class="mb-3">
                    <label for="category"><b>Категория</b></label>
                    <div id="category">
                        <div th:each="category : ${categories}">
                            <label>
                                <input type="checkbox" name="categoryIds" th:value="${category.id}">
                                <span th:text="${category.name}"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/" class="btn btn-secondary me-md-2">Отмена</a>
                    <button type="submit" class="btn btn-primary">Сохранить задачу</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>